@font-face {
    font-family: "fonti1";
    src: url("fonts/Inter-VariableFont_opsz\,wght.ttf");
}

body {
    font-family: "fonti1";
}


#box {
    width: 378px;
    height: 274px;
    margin: auto;
    background-color: #F5F5F5;
    margin-top: 142px;
}

.input1 {
    width: 315px;
    height: 45px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    outline: none;
    border: 1px solid;
    border-color: #E0E0E0;
}

.input1::placeholder {
    padding-left: 8px;
}

.label1 {
    margin-left: 30px;
    color: #616161;
    
}

.input2 {
    width: 315px;
    height: 45px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    outline: none;
    border: 1px solid;
    border-color: #E0E0E0;
    


}

.label2 {
    margin-left: 30px;
    color: #616161;
    

}

.input2::placeholder {
    padding-left: 8px;
}

.btn {
    width: 315px;
    height: 45px;
    background-color: #FFD43A;
    border-radius: 10px;
    border: 1px solid;
    border:0;
    margin-left: 32px;
    font-size: 15px;
    font-weight: 500;
    
}


.container {
    width: 458px;
    height: 345px;
    border: 1px solid; color: black;
    position: absolute;
    right: 0;
    bottom: 100;


}


.box1 {
    width: 378px;
    height: 274px;
    margin: auto;
    background-color: #F5F5F5;
    margin-top: 142px;
    position: relative;
    left: 450px;
    top: 40px;
}

.box1:hover {
    background-color: purple;
}

.input2 {
    width: 315px;
    height: 45px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    outline: none;
    border: 1px solid;
    border-color:#BBB400;
}

.input2:hover {
    background-color: red;

}



.label2 {
    margin-left: 30px;
    color: #616161;
    
}

.input3 {
    width: 315px;
    height: 45px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    outline: none;
    border: 1px solid;
    border-color: #BBB400;

}

.input3:hover {
    background-color: aqua;

}

.input3::placeholder {
    padding-left: 15px;

}

.label3 {
    margin-left: 30px;
    color: #616161;
    

}


.btn1 {
    width: 315px;
    height: 45px;
    background-color: #BBB400;
    border-radius: 10px;
    border: 1px solid;
    border:0;
    margin-left: 32px;
    color: #7C0000;
    font-size: 20px;
    
}

.btn1:hover {
  background-color: #ff3a3a;
}